{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>

    {% if app.user %}
        <p>Welcome, {{ app.user.email }}! You have the following roles: {{ app.user.roles|join(', ') }}</p>

        <h2>Users</h2>
        <ul>
            {% for user in users %}
                <li>{{ user.email }} - Roles: {{ user.roles|join(', ') }}</li>
            {% endfor %}
        </ul>

        <form action="{{ path('app_logout') }}" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
{% endblock %}


