{# templates/home/connexion/connexion.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}TR | Connexion{% endblock %}

{% block body %}
    <title>Connectez-vous</title>
    <body>
        {{ include('home/partials/header.html.twig') }}
        <section id="hero" class="section form">
            <div class="d-flex justify-content-center">
                <form method="post" action="{{ path('app_connexion') }}" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        <div class="col-12">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Votre email" required autofocus>
                        </div>

                        <div class="col-12">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>
                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </form>

                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <p class="text-center">Vous n'avez pas de compte ? <a href="{{ path('app_inscription') }}">Inscrivez-vous</a></p>
            </div>
            
        </section>
      
        {{ include('home/partials/footer.html.twig') }}
    </body>
{% endblock %}









    

