{# templates/home/connexion/inscription.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<title>Créer votre compte</title>
<body> 

    {{ include('home/partials/header.html.twig') }}
      
    <section id="hero" class="section form">
        <h2 class="formtitle">Créer un compte</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {# templates/user/new.html.twig #}
{{ form_start(form) }}
{{ form_row(form.email) }} {# Assurez-vous que le champ "roles" est correctement affiché #}
{{ form_row(form.Password) }}
{{ form_row(form.ContactInformation)}}
<button name="submit" value="submit">Envoyer</button>

{{ form_end(form) }}

                    <p class="text-center mt-3">Vous avez déjà un compte ? <a href="{{ path('app_connexion') }}">Connectez-vous</a></p>
                </div>
            </div>
        </div>
    </section>

    {{ include('home/partials/footer.html.twig') }}

</body>
{% endblock %}
